@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (max-width: 820px) {

    body {
      align-items: center;
      text-align: center;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
    }

    .row-01 {
      background: url("res/pattern-01.png");
      background-size: 110%,50%;
      width: 100%;
      height: 200px;
      border-bottom-style: solid;
      border-bottom-width: 5px;
      border-bottom-color: #ffe8fb;
    }

    .row-02 {
      font-family: 'Cairo', sans-serif;
      font-size: 65px;
      background-color: #ffe8fb;
      height: 220px;
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
    }

    .row-03 {
      background-color: #ffd4f8;
      font-family: 'Montserrat', sans-serif;
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 7px;
      padding-right: 7px;
    }

    .row-04 {
      text-align: center;
      background-color: #ffc4f5;
      height: 225px;
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 5%;
      padding-right: 5%;
    }

    a:link {
      color: black;
      font-family: 'Montserrat', sans-serif;
    }

    a:visited {
      color: black;
    }

    a:hover {
      color: gray;
    }

    a:active {
      color: gray;
    }

    .link-01 {
      float: left;
      color: black;
      background-color: white;
      border-style: solid;
      border-radius: 5px;
      border-color: white;
    }

    .link-02 {
      float: right;
      color: black;
      background-color: white;
      border-style: solid;
      border-radius: 5px;
      border-color: white;
    }

    .row-05 {
      background-color: #ffb3f2;
      font-family: 'Montserrat', sans-serif;
      padding-top: 100px;
      padding-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    .github {
      background-color: white;
      border-style: solid;
      border-radius: 5px;
      border-color: white;
      color: black;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .row-06 {
      background-color: #ff94ed;
      font-family: 'Montserrat', sans-serif;
      padding-top: 50px;
      padding-bottom: 50px;
      color: white;
    }

    .license_contener {
      background-color: white;
      padding: 20px;
    }

    .license_title {
      background-color: #ffb3f2;
      padding: 10px;
      border-style: solid;
      border-radius: 20px;
      border-color: #ffb3f2;
      font-size: 50px;
      font-family: 'Montserrat', sans-serif;
      width: 200px;
      text-align: center;
    }

    .license_text {
      background-color: white;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      padding-left: 20px;
    }

    .license_back {
      background-color: #ffb3f2;
      padding: 10px;
      border-style: solid;
      border-radius: 20px;
      border-color: #ffb3f2;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      width: 60px;
      text-align: center;
    }

}

@media screen and (min-width: 820px) {

  body {
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
  }

  .row-01 {
    background: url("res/pattern-01.png");
    background-size: 110%,50%;
    width: 100%;
    height: 500px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #ffe8fb;
  }

  .row-02 {
    font-family: 'Cairo', sans-serif;
    font-size: 100px;
    background-color: #ffe8fb;
    height: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }

  .row-03 {
    background-color: #ffd4f8;
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .row-04 {
    text-align: center;
    background-color: #ffc4f5;
    height: 225px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
  }

  a:link {
    color: black;
    font-family: 'Montserrat', sans-serif;
  }

  a:visited {
    color: black;
  }

  a:hover {
    color: gray;
  }

  a:active {
    color: gray;
  }

  .link-01 {
    float: left;
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
  }

  .link-02 {
    float: right;
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
  }

  .row-05 {
    background-color: #ffb3f2;
    font-family: 'Montserrat', sans-serif;
    padding: 100px;
  }

  .github {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .row-06 {
    background-color: #ff94ed;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    color: white;
  }

  .license_contener {
    background-color: white;
    padding: 20px;
  }

  .license_title {
    background-color: #ffb3f2;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: #ffb3f2;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    text-align: center;
  }

  .license_text {
    background-color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 20px;
  }

  .license_back {
    background-color: #ffb3f2;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: #ffb3f2;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 60px;
    text-align: center;
  }

}
