.image_2 {
	width: 500px;
	height: 500px;
	float: left;
	padding: 15px;
}
.end_of_row {
	
}
.text {
	color: black;
	text-color: black;
	size: 13px;
	font-size: 20;
	font-family: Times New Roman;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}